.Projects {
    position: relative;
    height: var(--page-height);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    margin: 0 auto;
    width: 100%;
    font-size: 36px;
}

.Project-swiper {
    display: flex;
    width: 90%;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev {
    color: red; 
}

.swiper-button-next {
    color: #000; 
}

@media screen and (max-width: 768px){
    .Projects {
        font-size: 18px;
        height: var(--page-height);
    }
}