.Side-bar__header {
  display: flex;
  flex-direction: row;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}

.Side-bar__header_icon {
  min-height: 100%;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  cursor: pointer;
  color: #f5f5f5;
}

.Side-bar__mobile_header_icon {
  display: none;
  min-height: 100%;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  transform: rotate(45deg);
  color: #44b2ff;
}

@media screen and (max-width: 768px) {
  .Side-bar__header_icon {
    display: none;
  }
  .Side-bar__mobile_header_icon {
    display: block;
  }
}
